html, body{
	margin: 0;
	padding: 0;
	font-family: helvetica;
	height: 100%;
}

.container{
	padding-top: 15px;
	text-align: center;
	height: 750px;
	position: relative;
	background-image: url('../img/ryu.gif');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}
h1{
	margin: 0;
	color: white;
	text-shadow: 0px 2px 4px rgb(100,100,100);
}

.combos{
	position: absolute;
	bottom: 80px;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
}

.combo{
	margin: 10px 0px;
}

.combo span{
	display: inline-block;
	min-width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	margin: 0px 5px;
	background-color: #f0f0f0;
	padding: 12px 10px 9px 10px;
	font-family: helvetica;
	font-size: 14pt;
	border-radius: 8px;
	vertical-align: middle;
	font-weight: bold;
	text-transform: uppercase;
}

.sub-container{
	text-align: center;
}
footer{
	text-align: center;
	height: 250px;
	line-height: 250px;
	background-color: whitesmoke;
}

#volume-control{
	font-size: 20pt;
	position: absolute;
	top: 15px;
	right: 20px;
}

#volume-control:hover{
	cursor: pointer;
	color: gray;
}

#music{
	display: none;
}

a, a:visited{
	color: rgb(150,150,150);
	text-decoration: none;
}